@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-300 font-sans antialiased;
}

.glass-panel {
  @apply bg-slate-900/60 backdrop-blur-xl border border-white/10 shadow-xl;
}
